/* App.css */
.running-tracker-box {
    max-width: 1000px;
    margin: 40px auto;
    background-color: white;
    padding: 2rem 2.5rem;
    border-radius: 1rem;
}

/* RecordHeader */
.record-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.record-header h1 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 0;
}

.sort-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sort-section span {
    font-size: 14px;
    color: #808080;
}

.sort-section select {
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

.sort-section select:focus {
    outline: none;
    border-color: #464646;
}

/* RecordForm */
.form {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    padding: 1rem 0;

    font-weight: 500;
}

.form label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form input {
    padding: 0.5rem 1rem;
    border: 1.5px solid #eee;
    border-radius: 0.3rem;
}

.form input:focus {
    background-color: #fcfcfc;
}

.form button {
    background-color: #464646;
    color: white;
}

.form button:hover {
    background-color: #000000;
}

/* RecordList */
.record-list {
    background-color: #fcfcfc;
    border: 1.5px solid #eee;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.record-list .empty-message {
    color: #808080;
    padding: 2rem 1.5rem;
}

.record-list-box {
    width: 100%;
}

.record-list-header,
.record-item {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    padding: 1rem;

    border-bottom: 1px solid #eee;
}

.record-list-header {
    font-weight: 700;
}

/* RecordItem */
.record-item {
    background-color: white;
}

.record-item div:first-child {
    font-weight: 700;
}

.record-item .total span {
    display: inline-block;
    background-color: #eee5ff;
    color: #7a007a;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 30px;
}

.btn-section {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.edit-btn:hover {
    background-color: #67b169;
    color: white;
}

.delete-btn:hover {
    background-color: #e05b66;
    color: white;
}

/* 공통 */
.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}
